# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/

# ===== Editor/OS =====
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# ===== Logs / temp =====
*.log
*.tmp

# ===== Secrets / env =====
#.env
.env.*
!.env.example

# ===== Outputs / artifacts =====
storage/*